<!-- views/pages/games.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>        
        <div class="row">
        <div class="jumbotron">
        	<table class="table">
        		<tr><th><%= event.Name %></th><th>Event Details</th></tr>
        		<tr><td>Date</td><td><%= event.Date %></td></tr>
        		<tr><td>Location</td><td><%= event.Location %></td></tr>
        		<tr><td>Address</td><td><%= event.Address %></td></tr>
        		<tr><td>City</td><td><%= event.City %></td></tr>
        		<tr><td>State</td><td><%= event.State %></td></tr>
        		<tr><td>Zip</td><td><%= event.Zip %></td></tr>
        		<tr><td>Description</td><td><%= event.Description %></td></tr>
        	</table>            
        </div>
        </div>
    </main>

    <footer>    	
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>