<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    	<div class="row">
            <div class="col-sm-8">            
                <div class="jumbotron">
        
		            <h1>Board Game Database</h1>
		            <p>Welcome to the Board Game Database. We are all games, all the time.</p>		            			        
        		</div>
        		<div>
        			<h3>Top 10 Rated Games</h3>
        			<table class="table">
        				<tr><th>Game</th><th>Average Rating</th><th>Reviews</th></tr>
        				<% topGames.forEach(function(game) { %>
        					<tr>
        						<td><a href="/game?GameID=<%= game.GameID %>"><%= game.Game %></a></td>
        						<td><%= game.AverageRating %></td>
        						<td><%= game.Reviews %></td>
        					</tr>
        				<% }); %>
        			</table>
        		</div>                
            </div>
            <div class="col-sm-4">                
                <div class="well">
                    <% if (hasUser) { %>
                    	<b>Welcome back <%= firstName %></b>
                    	<ul>
                    		<li><a href="/profile">User Profile</a></li>
                    		<li><a href="/review">Add a Game Review</a></li> 
                    		<li><a href="/gameAdd">Add a Game</a></li>
                    		<li><a href="/groupAdd">Create a Group</a></li>
                    		<li><a href="/eventAdd">Create an Event</a></li>                   		
                    	</ul>
                    	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    <% } else { %>
                    	<p>You're currently not logged in. Login or Register to experience all of the fun!</p>
                    	<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
			        	<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Register</a>
                    <% } %>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>